{% extends "base.html" %}
{% block title %}Add task{% endblock %}
{% block content %}
  <div class="container">
    <h1>Добавить задание</h1>
        <form action="{% url 'task_add' %}" method="post" class="form-add">
                {% csrf_token %}

                <div class="mb-3">
                    <input type="text" id="summary" name="summary" placeholder="Краткое описание" class="form-control" required>
                </div>

                <div class="mb-3">
                    <select id="status" name="status" required class="form-control">
                        <option>Выберите статус</option>
                            {% for choice in status_choices %}
                                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <select id="type" name="type" required class="form-control">
                        <option>Выберите тип</option>
                            {% for choice in type_choices %}
                                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <textarea id="text" name="description" placeholder="Описание" class="form-control" rows="4" required></textarea>
                </div>

                <div class="mb-3">
                    <input type="submit" class="form-control submit" value="Добавить">
                </div>

            </form>
  </div>
{% endblock content %}